:root{
  --primary-background:#23272a;
  --navbar:hsl(214, 7%, 19%);
  --text:#99aab5;
  
}

html {
  overflow-x: hidden;
  height: 100%;
  background-color: var(--primary-background);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; /* Ensures it fills the whole screen */
  margin: 0;
  padding: 0;
}
body{
margin: 0;
}

/* not implemented */
.Links{
  font-size: 50px;
  width: 100vw;
  color: rgb(59, 59, 255);
  text-align: center;

}
.Links-text{
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;

}

/* Navigation */
.NavBar{
  background-color: var(--navbar);
  border: 20px solid #3a3c43;
  box-sizing: border-box;
  width: 100vw;
  height: 150px;
  margin: 0;
  text-align: center;
  
}
.Title{
  margin: 0;
  color:rgb(170, 207, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* text-area for message input*/
.input-field{
  width:100vw;
  height:50px;
  background-color: var(--navbar);
  color: white;  
  font-size:30px;
}

/*buttons*/
.post-button{
  margin: 10px;
}
.logout{
  position: sticky;
  height:40px;
  width: 70px;
  top:0
}
button{
  width: 70px;
  height: 40px;
  background-color: rgb(124, 124, 124);
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  font-family:monospace;
  font-size: 15px;
  color:rgb(255, 255, 255);
}

.LoadMore{
  display: flex;
  text-align: center;
  justify-content: center;

}


/* The display for the text*/
.chat-box{
 font-family:sans-serif;
 color:rgb(255, 255, 255);
 padding-left: 10px;
 display: flex;
 flex-direction: column; /* stack vertically */


}
.chat-holder{
  overflow-y: auto; 
  display: flex;
  flex-direction: column-reverse; 
  background-color: var(--primary-background);
  width:100vw;

  height: 100%;

}
.text-messages{
  font-family:sans-serif;
  width: 100%; 
  border-radius: 10px;
  word-wrap: break-word;
  margin-top: 0;
}

.text-name{
  margin-bottom: 0;
}
/* wrapper class*/
.wrap-chat{

  display: flex;
  flex-direction: column; 
  height: calc(100vh - 150px);
  align-items: center;  
}

/* Login page*/
.login-page-wrap{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: calc(100vh - 150px);
  
}
.login-page{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 10px;
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;
}

@media (max-width: 768px) {
  .NavBar{
  background-color: var(--navbar);
  border: 10px solid #3a3c43;
  box-sizing: border-box;
  width: 100vw;
  height: 70px;
  margin: 0;
  text-align: center;
  
}
.Title{
  font-size: 15px;
  margin: 0;
  color:rgb(170, 207, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subtitle{
  font-size: 9px;
}
.text-messages{
  font-family:sans-serif;
  width: 100%; 
  font-size: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  margin-top: 0;
}
}