html {
  height: 100%;
  background-color: rgb(78, 75, 58);
  background-image: url('./Images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; /* Ensures it fills the whole screen */
}
body{
margin: 0;
}

/* not implemented */
.Links{
  font-size: 50px;
  width: 100vw;
  color: rgb(59, 59, 255);
  text-align: center;

}
.Links-text{
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;

}

/* Navigation */
.NavBar{
  background-color: bisque;
  box-sizing: border-box;
  width: 100vw;
  height: 150px;
  margin: 0;
  text-align: center;
  border: 20px solid rgb(191, 98, 59);
}
.Title{
  margin: 0;
  color:rgb(98, 16, 16);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*input and output*/
.name-input{
  display:flex;
  justify-content:left;

}
.input-output{
  display:flex;
  justify-content:center;

  

}
/* text-area for message input*/
.text-field{
  width:30vw;
  height: 300px;
  text-wrap: wrap;
  background-color: rgb(223, 103, 47);
  color: white;  
  font-size:30px;
  border: 10px solid burlywood;
  border-radius: 30px;
  margin-bottom: 40px;
  margin-left: 50px;
  
}
/* name-area for name input*/
.name-field{
 
  margin: 10px;
  background-color: rgb(223, 103, 47);
  color: white;  
  font-size:30px;
  border: 10px solid burlywood;
  border-radius: 30px;
  margin-left: 50px;
}
/*buttons*/
.post-button{
  margin: 10px;
}
button{
  width: 130px;
  height: 60px;
  background-color: rgb(255, 149, 0);
  border-radius: 10px;
  border-color: rgb(237, 188, 146);
  font-family:monospace;
  font-size: 20px;
  color:rgb(255, 255, 255);
}
.LoadMore{
  display: flex;
  text-align: center;
  justify-content: center;

}


/* The display for the text*/
.chat-box{
 font-family:sans-serif;
 color:rgb(255, 255, 255);
 display: flex;
 justify-content: center;
}
.chat-holder{
  background-image: url('./Images/chat.jpeg');
  border-radius: 10px;
  width:100%;
  border: 10px solid rgb(191, 98, 59);
  border-radius: 30px;
  box-sizing: border-box;
  min-height: 300px;

}
.text-diplay{
  width: 400px; 
  word-wrap: break-word;
}


/* wrapper class*/
.wrap-div-messages{
  display: flex;
 justify-content:right;
 width: 35vw;

}

.wrap-div-message-display{
   display: flex;
  flex-direction: column; 
  justify-content: center;

  width: 65vw;
  padding-left: 50px;
  padding-right: 50px;

}
